*{
    box-sizing: border-box;
}
.icons{
    width:40px;
    height: 40px;
    margin-right: 10px;
}
.in-icons{
    width:25px;
    height:25px;
}
nav{
    position: static;
    background-color:white;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    padding-top: 10px;
}
#home_1{
    display: flex;
    flex-direction: row;
}
#part_A{
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    width: 27%;
    font-size: 1.75em;
}
#part_B{
    border-radius: 5px;
background-color: rgb(230, 230, 230);
width:46%
}
hr{
    width: 98%;
}
#part_C{
    background-color: bisque;
    width: 27%;
}
#me_2{
     display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 7px;
}
#me_1{
    background-color: white;
    margin-top: 10px;
    border-radius: 7px;
}
